body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
  transform: scale(1.02);
}

.expense-list {
  margin-top: 20px;
  text-align: left;
}

.expense-item {
  background: rgba(255,255,255,0.08);
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
}
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.2); /* 👈 border added */
  outline: none;
  background: #1e293b;
  color: white;
  transition: 0.3s;
}

/* focus effect */
input:focus {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 5px rgba(59,130,246,0.5);
}